/*** CSS RESETS  ***/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** ***/
/*** FONTS ***/
.container {
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row {
  margin: 0 -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-1 {
  position: relative;
  float: left;
  display: inline;
  width: 8.33333%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-2 {
  position: relative;
  float: left;
  display: inline;
  width: 16.66667%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-3 {
  position: relative;
  float: left;
  display: inline;
  width: 25%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-4 {
  position: relative;
  float: left;
  display: inline;
  width: 33.33333%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-5 {
  position: relative;
  float: left;
  display: inline;
  width: 41.66667%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-6 {
  position: relative;
  float: left;
  display: inline;
  width: 50%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-7 {
  position: relative;
  float: left;
  display: inline;
  width: 58.33333%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-8 {
  position: relative;
  float: left;
  display: inline;
  width: 66.66667%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-9 {
  position: relative;
  float: left;
  display: inline;
  width: 75%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-10 {
  position: relative;
  float: left;
  display: inline;
  width: 83.33333%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-11 {
  position: relative;
  float: left;
  display: inline;
  width: 91.66667%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-12 {
  position: relative;
  float: left;
  display: inline;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-offset-12 {
  margin-left: 100%; }

/*** ELEMENTS **/
.btn {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #1c60b9;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 3px 3px 0px #3a9dff; }

/*** ***/
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/wall.jpg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1; }

body > header {
  background-color: #a5aab9;
  background-image: url(../assets/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -100px;
  height: 550px;
  overflow: hidden;
  position: relative; }

header .presentation-heading {
  font-weight: 700; }

header .presentation-heading h1 {
  font-size: 60px;
  margin: 50px 0 5px 0;
  color: #FFF;
  text-shadow: 1px -1px 1px #555; }

header .presentation-heading h2 {
  font-size: 25px;
  margin-bottom: 45px;
  color: #efefef;
  text-shadow: 1px -1px 1px #555; }

header .presentation-heading .btn {
  margin-right: 20px; }

header .presentation-heading .contattami {
  background-color: #1daf9b;
  box-shadow: 3px 3px 0px #47eebe; }

.nav-container {
  height: 40px;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  z-index: 0; }

section.nav-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.85); }

.navigation {
  line-height: 40px;
  padding-top: 10px;
  padding-left: 16.66667%;
  padding-right: 16.66667%; }

.navigation .nav-heading {
  width: 20%;
  margin-right: 5%;
  float: left;
  font-weight: 300;
  font-size: 24px;
  color: #555; }

.navigation ul {
  width: 60%;
  margin-left: 15%;
  float: left; }

.navigation ul li {
  margin: 0 0 0 5%;
  float: right; }

.navigation ul li a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 300; }

.content > section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white; }

.content > section h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: 3px; }

.content > section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-align: justify; }

.content .skill-name {
  width: 90px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 15px; }

.content .skill progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 250px;
  height: 10px;
  margin-bottom: 5px;
  color: #f1643b; }

.content .skill progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.content .skill progress[value]::-webkit-progress-value {
  background-color: #f1643b;
  border-radius: 2px; }

.content .skill progress[value]::-moz-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.content .skill progress[value]::-moz-progress-value {
  background-color: #f1643b;
  border-radius: 2px; }

.content .works {
  background-color: #c1c7c9; }

.content .works .thumbnail {
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 0px #888; }

.content .works .thumbnail p {
  padding-top: 10px;
  text-align: center; }

.content .works img {
  width: 100%;
  border-radius: 4px 4px 0 0; }

body > footer {
  position: relative;
  margin: 0 0;
  background-color: rgba(76, 111, 127, 0.65);
  height: 100px; }

body > footer > div {
  height: 100%; }

footer .footer-nav {
  height: 40px;
  padding-top: 30px; }

footer .footer-nav h2 a {
  font-size: 20px;
  color: #FFF;
  text-shadow: 1px -1px 1px #555;
  float: left;
  width: 25%;
  margin: 0 5% 0 0;
  line-height: 40px;
  text-decoration: none; }

footer .footer-nav ul {
  width: 65%;
  margin: 0 0 0 5%;
  float: left; }

footer .footer-nav ul li {
  float: right;
  line-height: 40px;
  margin-left: 5%; }

footer .footer-nav ul li a {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px -1px 1px #555;
  font-size: 20px;
  font-weight: 400; }
