/*** CSS RESETS  ***/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** ***/
/*** ELEMENTS **/
.btn {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #1c60b9;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 3px 3px 0px #3a9dff; }

/*** ***/
/*** FONTS ***/
/*** ***/
/*** VARIABLES ***/
/*** ***/
/*** MIXINS ***/
/*** ***/
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background-image: url(/assets/wall.jpg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1; }

body > header {
  background-color: #a5aab9;
  background-image: url(/assets/wall.jpg);
  background-size: 100%;
  background-position: 0 -100px;
  height: 550px; }

body > header > div {
  width: 80%;
  margin: 0 auto;
  overflow: auto; }

header .me-container {
  width: 20%;
  margin: 5%;
  float: left; }

header .me {
  border-radius: 50%;
  width: 100%; }

header .presentation-heading {
  width: 60%;
  margin: 5%;
  float: left;
  font-weight: 700; }

header .presentation-heading h1 {
  font-size: 60px;
  margin: 20px 0 5px 0;
  color: #FFF;
  text-shadow: 1px -1px 1px #555; }

header .presentation-heading h2 {
  font-size: 25px;
  margin-bottom: 45px;
  color: #efefef;
  text-shadow: 1px -1px 1px #555; }

header .presentation-heading .btn {
  margin-right: 20px; }

header .presentation-heading .contattami {
  background-color: #1daf9b;
  box-shadow: 3px 3px 0px #47eebe; }

.nav-container {
  width: 100%;
  margin-top: -60px;
  margin-bottom: 20px;
  height: 40px;
  background-color: transparent;
  position: relative;
  z-index: 0; }

section.nav-container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(0px);
  height: 100%;
  z-index: -1;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.85); }

.navigation {
  line-height: 40px;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px; }

.navigation .nav-heading {
  width: 20%;
  margin: 0 5%;
  float: left;
  font-weight: 300;
  font-size: 24px;
  color: #555; }

.navigation ul {
  width: 60%;
  margin: 0 5%;
  float: left; }

.navigation ul li {
  margin: 0 0 0 5%;
  float: right; }

.navigation ul li a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  /*color: #f9f5e3;
  background-color: #5CC5D4;
  padding: 2px 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 0px #147280;*/ }

.content {
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

.content > section {
  padding: 0 5%;
  background-color: white; }

.content > section > div {
  width: 80%;
  margin: 0 auto; }

.content .description {
  margin-top: 50px; }

.content > section > div > h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: 3px; }

.content > section > div > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-align: justify; }

section.skill {
  overflow: auto;
  margin-top: 30px; }

.content .skill ul {
  float: left;
  width: 45%;
  margin: 0 2.5%; }

.content .skill-name {
  width: 90px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 15px; }

.content .skill progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 250px;
  height: 10px;
  margin-bottom: 5px;
  color: #f1643b; }

.content .skill progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.content .skill progress[value]::-webkit-progress-value {
  background-color: #f1643b;
  border-radius: 2px; }

.content .skill progress[value]::-moz-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

.content .skill progress[value]::-moz-progress-value {
  background-color: #f1643b;
  border-radius: 2px; }

.content .what-i-do {
  margin-top: 30px;
  padding-bottom: 30px; }

.content .works {
  overflow: auto;
  background-color: #c1c7c9; }

.content .works h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #333; }

.content .works > div > div {
  width: 45%;
  margin: 2.5%;
  float: left; }

.content .works > div > div:last-of-type {
  margin-bottom: 30px; }

.content .works > div > div > img {
  width: 100%;
  border-radius: 15px; }

body > footer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin: 0 0;
  padding: 0 10%;
  background-color: rgba(76, 111, 127, 0.65);
  height: 100px; }

body > footer > div {
  margin: 0 5%;
  height: 100%; }

footer .footer-nav {
  height: 40px;
  padding-top: 30px; }

footer .footer-nav h2 a {
  font-size: 20px;
  color: #FFF;
  text-shadow: 1px -1px 1px #555;
  float: left;
  width: 25%;
  margin: 0 5% 0 0;
  line-height: 40px;
  text-decoration: none; }

footer .footer-nav ul {
  width: 65%;
  margin: 0 0 0 5%;
  float: left; }

footer .footer-nav ul li {
  float: right;
  line-height: 40px;
  margin-left: 5%; }

footer .footer-nav ul li a {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px -1px 1px #555;
  font-size: 20px;
  font-weight: 400; }
