---
layout: default
---

<div class="container content">
  
  <section id="description" class="row description">
    <div class="col-sm-12 col-md-8 col-lg-6 col-offset-md-2 col-offset-lg-4">
      <h1>{{ site.data.portfolio.description_title }}</h1>
      <p>{{ site.data.portfolio.description_about }}</p>
    </div>
  </section>
  <section id="skill" class="row skill">
    <div class="col-sm-12 col-md-8 col-lg-6 col-offset-md-2 col-offset-lg-4">
      <h1>{{ site.data.portfolio.skill_title }}</h1>
      <ul class="col-sm-12 col-md-6 col-lg-6 col-offset-lg-4">
        {% for skill in site.data.portfolio.skill_list_first_col %}
        <li><span class="skill-name">{{ skill.name }}</span><progress class="skill-meter" max="100" value="{{ skill.level }}"></progress></li>
        {% endfor %}
      </ul>
      <ul class="col-sm-12 col-md-6 col-lg-6 col-offset-lg-4">
        {% for skill in site.data.portfolio.skill_list_second_col %}
        <li><span class="skill-name">{{ skill.name }}</span><progress class="skill-meter" max="100" value="{{ skill.level }}"></progress></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="experience" class="row what-i-do">
    <div class="col-sm-12 col-md-8 col-lg-6 col-offset-md-2 col-offset-lg-4">
      <h1>{{ site.data.portfolio.what_i_do_title }}</h1>
      <p>{{ site.data.portfolio.what_i_do_about }}</p>
    </div>
  </section>
  <section id="works" class="row works">
    <div class="col-sm-12 col-md-8 col-lg-6 col-offset-md-2 col-offset-lg-4">
      <h1>{{ site.data.portfolio.work_title }}</h1>
      <div class="row">
          
        {% for work in site.data.portfolio.works %}

        <div class="col-sm-12 col-md-6">
          <div class="thumbnail">
            <img src="{{ site.baseurl }}/assets/{{ work.imagepath }}" alt="">
            <p>{{ work.name }}</p>
          </div>
        </div>
        
        {% endfor %}

      </div>
    </div>
  </section>
</div>
