/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px){

  @include generate-grid('sm');

  .navigation .nav-heading {
    display:none;
  }

  .navigation ul {
    float:left;
  }
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px){

  @include generate-grid('md');

  .navigation .nav-heading {
    display:block;
  }

  .navigation ul {
    float:right;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  
  @include generate-grid('md');

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

  @include generate-grid('lg');

}